@import "tailwindcss";
@import "@nuxt/ui";

:root {
    --ui-primary: var(--color-brandRed-500);
}

@theme static {
    --font-sans: 'Public Sans', sans-serif;
    --color-brandRed-500: #FF575F;
    --ui-header-height: 64px;
}

html,body,#__nuxt,#__layout {
    @apply h-full;
}